<html>
	<head>
		<title>Kino</title>
		{% load static %} <link rel="stylesheet" href="{% static "styles/style.css" %}"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="navBar">
			<div class="logo"><p>KINOMANIAK</p></div>
			<div id="menu">
				<ul>
					<li><a href="{% url 'home_page' %}">Strona główna</a></li>
					<li><a href="{% url 'repertuar' %}">Repertuar</a></li>
					<li><a href="{% url 'cennik' %}">Cennik</a></li>
					<li><a href="{% url 'about' %}">O nas</a></li>
					<li><a href="{% url 'kontakt' %}">Kontakt</a></li>

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'konto' %}">Użytkownik: {{ user.get_username }}</a></li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Wylogowanie</a></li>
                    {% else %}
					<li><a href="{% url 'login'%}?next={{request.path}}">Logowanie</a></li>
                    {% endif %}
				</ul>
			</div>
		</div>
		<div id="main">
            <div id="registration">
                {% block content %}
                    {% if validlink %}
                        <p>Wprowadz oraz potwierdź swoje nowe hasło</p>
                        <form action="" method="post">
                        {% csrf_token %}
                            <table>
                                <tr>
                                    <td>{{ form.new_password1.errors }}
                                        <label for="id_new_password1">Nowe hasło:</label></td>
                                    <td>{{ form.new_password1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.new_password2.errors }}
                                        <label for="id_new_password2">Potwierdź hasło</label></td>
                                    <td>{{ form.new_password2 }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Zmień hasło" /></td>
                                </tr>
                            </table>
                        </form>
                    {% else %}
                        <h1>Zmiana hasła nie powiodła się</h1>
                        <p>Łącze do resetowania hasła było nieprawidłowe, prawdopodobnie dlatego, że zostało już użyte. Poproś o ponowne zresetowanie hasła.</p>
                    {% endif %}
                {% endblock %}
            </div>
		</div>
		<div id="social-media">
			<ul>
				<li>
					{% load static %} <a href="https://www.facebook.com/HeliosPolska/"> <img src="{% static "images/svg/icons8-facebook.svg" %}"/> </a>
				</li>
				<li>
					{% load static %} <a href="https://www.instagram.com/kino_helios_official/"> <img src="{% static "images/svg/icons8-instagram.svg" %}"/> </a>
				</li>
				<li>
					{% load static %} <a href="https://www.tiktok.com/discover/helios?lang=pl-PL"> <img src="{% static "images/svg/icons8-tiktok.svg" %}"/> </a>
				</li>
				<li>
					{% load static %} <a href="https://twitter.com/heliospolska"> <img src="{% static "images/svg/icons8-twitter.svg" %}"/> </a>
				</li>
			</ul>
		</div>
		<div id="footer">
			<div id="footer-row">
				<div id="copyright" class="float-left">
					<p>&copy; 2022 Kinomaniak S.A.</p>
				</div>
			</div>
		</div>
	</body>
</html>